<%= form_with(model: @book,local: true) do |f| %>
  <p>タイトル<%= f.text_field :title %></p>
  <p>説明<%= f.text_field :body %></p>
  <%= f.submit "Update book"%>
<% end %>

<%= link_to "home", books_path %>
<%= link_to "show", book_path(@book) %>